In [70]:
import os
import pandas as pd
import numpy as np

<h3>lap_times.csv

In [71]:
data = pd.read_csv("DPL_Datasets/lap_times.csv")
data.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [72]:
data.isnull().sum()

raceId          0
driverId        0
lap             0
position        0
time            0
milliseconds    0
dtype: int64

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589081 entries, 0 to 589080
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   raceId        589081 non-null  int64
 1   driverId      589081 non-null  int64
 2   lap           589081 non-null  int64
 3   position      589081 non-null  int64
 4   time          589081 non-null  object
 5   milliseconds  589081 non-null  int64
dtypes: int64(5), object(1)
memory usage: 27.0+ MB

Time and milliseconds are redundant and can be computed using either of the info

In [74]:
data.drop(columns=["time"], inplace=True)

In [75]:
data.to_csv('final_dataset/lap_times.csv',index=False)

<h3>pit_stops.csv

In [76]:
data = pd.read_csv("DPL_Datasets/pit_stops.csv")
data.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11371 entries, 0 to 11370
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        11371 non-null  int64
 1   driverId      11371 non-null  int64
 2   stop          11371 non-null  int64
 3   lap           11371 non-null  int64
 4   time          11371 non-null  object
 5   duration      11371 non-null  object
 6   milliseconds  11371 non-null  int64
dtypes: int64(5), object(2)
memory usage: 622.0+ KB

In [78]:
data.isnull().sum()

raceId          0
driverId        0
stop            0
lap             0
time            0
duration        0
milliseconds    0
dtype: int64

In [79]:
data.drop(columns=["duration"], inplace=True)

In [80]:
data["time"] = pd.to_datetime(data["time"], format="%H:%M:%S").dt.time

In [81]:
data.to_csv("final_dataset/pit_stops.csv",index=False)

<h3>Qualifying.csv

In [82]:
def time_to_milliseconds(time_str):
    if pd.isna(time_str) or time_str in ["\\N", "nan", "None"]:  
        return -100  # Implies not applicable
    minutes, seconds = time_str.split(":")  
    minutes = int(minutes)
    seconds = float(seconds)  
    return int((minutes * 60 + seconds) * 1000)

In [83]:
data = pd.read_csv("DPL_Datasets/qualifying.csv")
data.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [84]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10494 entries, 0 to 10493
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      10494 non-null  int64
 1   raceId         10494 non-null  int64
 2   driverId       10494 non-null  int64
 3   constructorId  10494 non-null  int64
 4   number         10494 non-null  int64
 5   position       10494 non-null  int64
 6   q1             10494 non-null  object
 7   q2             10472 non-null  object
 8   q3             10448 non-null  object
dtypes: int64(6), object(3)
memory usage: 738.0+ KB

In [85]:
data["q1"] = data["q1"].astype(str)
data["q2"] = data["q2"].astype(str)
data["q3"] = data["q3"].astype(str)

data["q1_ms"] = data["q1"].apply(time_to_milliseconds)
data["q2_ms"] = data["q2"].apply(time_to_milliseconds)
data["q3_ms"] = data["q3"].apply(time_to_milliseconds)

data.drop(columns=["q1","q2","q3"], inplace=True)

In [86]:
data.to_csv("final_dataset/qualifying.csv",index=False)

<h3>races.csv

In [87]:
data = pd.read_csv("DPL_Datasets/races.csv")
data.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raceId       1125 non-null   int64
 1   year         1125 non-null   int64
 2   round        1125 non-null   int64
 3   circuitId    1125 non-null   int64
 4   name         1125 non-null   object
 5   date         1125 non-null   object
 6   time         1125 non-null   object
 7   url          1125 non-null   object
 8   fp1_date     1125 non-null   object
 9   fp1_time     1125 non-null   object
 10  fp2_date     1125 non-null   object
 11  fp2_time     1125 non-null   object
 12  fp3_date     1125 non-null   object
 13  fp3_time     1125 non-null   object
 14  quali_date   1125 non-null   object
 15  quali_time   1125 non-null   object
 16  sprint_date  1125 non-null   object
 17  sprint_time  1125 non-null   object
dtypes: int64(4), object(14)
memory usage: 158.3+ KB

In [89]:
data.drop(columns=["fp1_date","fp1_time","fp2_date","fp2_time","fp3_date","fp3_time","quali_date","quali_time","sprint_date","sprint_time","url"], inplace=True)

In [90]:
data["date"] = pd.to_datetime(data["date"]).dt.date
data["time"] = pd.to_datetime(data["time"], format="%H:%M:%S",errors="coerce").dt.time

In [91]:
data.to_csv("final_dataset/races.csv",index=False)

<h3>Results.csv

In [105]:
data = pd.read_csv("final_dataset/results.csv")
data.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,status
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,Finished
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,Finished
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,Finished
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,Finished
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,Finished

In [106]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26759 entries, 0 to 26758
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         26759 non-null  int64
 1   raceId           26759 non-null  int64
 2   driverId         26759 non-null  int64
 3   constructorId    26759 non-null  int64
 4   number           26759 non-null  object
 5   grid             26759 non-null  int64
 6   position         26759 non-null  object
 7   positionText     26759 non-null  object
 8   positionOrder    26759 non-null  int64
 9   points           26759 non-null  float64
 10  laps             26759 non-null  int64
 11  time             26759 non-null  object
 12  milliseconds     26759 non-null  object
 13  fastestLap       26759 non-null  object
 14  rank             26759 non-null  object
 15  fastestLapTime   26759 non-null  object
 16  fastestLapSpeed  26759 non-null  object
 17  status           26759 non-null  object
dtypes: float64(1), int64(7), object(10)
memory usage: 3.7+ MB

In [107]:
data.drop(columns=["time","position"], inplace=True)

In [108]:
data["fastestLapTime"] = data["fastestLapTime"].astype(str)

data["fastestlaptime_ms"] = data["fastestLapTime"].apply(time_to_milliseconds)

In [109]:
data.drop(columns=['fastestLapTime'],inplace=True)

In [110]:
data.to_csv("final_dataset/results.csv",index=False)

<h3>sprints_results.csv

In [111]:
data = pd.read_csv("final_dataset/sprint_results.csv")
data.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,status
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,Finished
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,Finished
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,Finished
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,Finished
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,Finished

In [112]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   resultId        360 non-null    int64
 1   raceId          360 non-null    int64
 2   driverId        360 non-null    int64
 3   constructorId   360 non-null    int64
 4   number          360 non-null    int64
 5   grid            360 non-null    int64
 6   position        360 non-null    object
 7   positionText    360 non-null    object
 8   positionOrder   360 non-null    int64
 9   points          360 non-null    int64
 10  laps            360 non-null    int64
 11  time            360 non-null    object
 12  milliseconds    360 non-null    object
 13  fastestLap      360 non-null    object
 14  fastestLapTime  360 non-null    object
 15  status          360 non-null    object
dtypes: int64(9), object(7)
memory usage: 45.1+ KB

In [113]:
data.drop(columns=["time","position"], inplace=True)

In [114]:
data["fastestLapTime"] = data["fastestLapTime"].astype(str)

data["fastestlaptime_ms"] = data["fastestLapTime"].apply(time_to_milliseconds)

In [115]:
data.drop(columns=['fastestLapTime'],inplace=True)

In [116]:
data.to_csv("final_dataset/sprint_results.csv",index=False)