In [58]:
import os
import pandas as pd

PREPROCESSING - circuits.csv

In [59]:
df = pd.read_csv("circuits.csv")
df.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmel贸,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [60]:
data_folder = os.getcwd()  
output_folder = os.path.join(data_folder, "cleaned_data")
os.makedirs(output_folder, exist_ok=True)

In [ ]:
circuits_path = os.path.join(data_folder, "circuits.csv")

if os.path.exists(circuits_path):
    df = pd.read_csv(circuits_path)
    print("circuits.csv loaded successfully.")
else:
    print("circuits.csv not found.")

circuits.csv loaded successfully.

In [ ]:
null_counts = df.isnull().sum()
print("\nNull values in each column:")
print(null_counts)

Null values in each column:
circuitId     0
circuitRef    0
name          0
location      0
country       0
lat           0
lng           0
alt           0
url           0
dtype: int64

In [ ]:
text_cols = ["circuitRef", "name", "location", "country", "url"]

for col in text_cols:
    if col in df.columns:
        df[col] = df[col].astype(str).str.strip().str.lower()

print("Text columns standardized.")

Text columns standardized.

In [64]:
df.drop_duplicates(inplace=True)

if "url" in df.columns:
    df.drop(columns=["url"], inplace=True)

print("Duplicates removed and 'url' column dropped.")

Duplicates removed and 'url' column dropped.

In [65]:
cleaned_filepath = os.path.join(output_folder, "circuits_cleaned.csv")
df.to_csv(cleaned_filepath, index=False)
print(f"Cleaned file saved: {cleaned_filepath}")
df.head()

Cleaned file saved: c:\Users\Ritanya\Desktop\DPL_2025\cleaned_data\circuits_cleaned.csv

,circuitId,circuitRef,name,location,country,lat,lng,alt
0,1,albert_park,albert park grand prix circuit,melbourne,australia,-37.84970,144.96800,10
1,2,sepang,sepang international circuit,kuala lumpur,malaysia,2.76083,101.73800,18
2,3,bahrain,bahrain international circuit,sakhir,bahrain,26.03250,50.51060,7
3,4,catalunya,circuit de barcelona-catalunya,montmel贸,spain,41.57000,2.26111,109
4,5,istanbul,istanbul park,istanbul,turkey,40.95170,29.40500,130

PREPROCESSING - constructor_results.csv

In [66]:
df1 = pd.read_csv("constructor_results.csv")
df1.head()

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0     \N
1                     2      18              2     8.0     \N
2                     3      18              3     9.0     \N
3                     4      18              4     5.0     \N
4                     5      18              5     2.0     \N

In [67]:
constructor_results_path = os.path.join(data_folder, "constructor_results.csv")
if os.path.exists(constructor_results_path):
    df1 = pd.read_csv(constructor_results_path)
    df1.head()
    print("constructor_results.csv loaded successfully.")
else:
    print("constructor_results.csv not found.")

constructor_results.csv loaded successfully.

In [ ]:
null_counts = df1.isnull().sum()
print("\nNull values in each column:")
print(null_counts)
print("Reading file from:", constructor_results_path)

Null values in each column:
constructorResultsId    0
raceId                  0
constructorId           0
points                  0
status                  0
dtype: int64
Reading file from: c:\Users\Ritanya\Desktop\DPL_2025\constructor_results.csv

In [72]:
# Convert status to string, then encode: '\\N' -> 0, 'D' -> 1
if df1["status"].dtype == "object":  
    df1["status"] = df1["status"].replace({"\\N": "0", "D": "1"}).fillna("0").astype(int)

print("Status column encoded.")
status_counts = df1["status"].value_counts()
print("\nStatus Column Counts:")
print(status_counts)

Status column encoded.

Status Column Counts:
status
0    12608
1       17
Name: count, dtype: int64

In [73]:
df1.drop_duplicates(inplace=True)
print("Duplicates removed.")

Duplicates removed.

In [74]:
cleaned_filepath = os.path.join(output_folder, "constructor_results_cleaned.csv")
df1.to_csv(cleaned_filepath, index=False)
print(f"Cleaned file saved: {cleaned_filepath}")
df1.head()

Cleaned file saved: c:\Users\Ritanya\Desktop\DPL_2025\cleaned_data\constructor_results_cleaned.csv

   constructorResultsId  raceId  constructorId  points  status
0                     1      18              1    14.0       0
1                     2      18              2     8.0       0
2                     3      18              3     9.0       0
3                     4      18              4     5.0       0
4                     5      18              5     2.0       0

PREPROCESSING - constructor_standings.csv

In [81]:
df2 = pd.read_csv("constructor_standings.csv")
df2.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

In [82]:
constructor_standings_path = os.path.join(data_folder, "constructor_standings.csv")
if os.path.exists(constructor_standings_path):
    df2 = pd.read_csv(constructor_standings_path)
    df2.head()
    print("constructor_standings.csv loaded successfully.")
else:
    print("constructor_standings.csv not found.")

constructor_standings.csv loaded successfully.

In [83]:
# Check for null values
null_counts = df2.isnull().sum()
print("\nNull values in each column:")
print(null_counts)
print("Reading file from:", constructor_standings_path)

Null values in each column:
constructorStandingsId    0
raceId                    0
constructorId             0
points                    0
position                  0
positionText              0
wins                      0
dtype: int64
Reading file from: c:\Users\Ritanya\Desktop\DPL_2025\constructor_standings.csv

In [84]:
df2.drop_duplicates(inplace=True)
print("Duplicates removed.")
df2.drop(columns = ['positionText'],inplace = True)
df2.head()

Duplicates removed.

   constructorStandingsId  raceId  constructorId  points  position  wins
0                       1      18              1    14.0         1     1
1                       2      18              2     8.0         3     0
2                       3      18              3     9.0         2     0
3                       4      18              4     5.0         4     0
4                       5      18              5     2.0         5     0

In [86]:
cleaned_filepath = os.path.join(output_folder, "constructor_standings_cleaned.csv")
df2.to_csv(cleaned_filepath, index=False)
print(f"Cleaned file saved: {cleaned_filepath}")
df2.head()

Cleaned file saved: c:\Users\Ritanya\Desktop\DPL_2025\cleaned_data\constructor_standings_cleaned.csv

   constructorStandingsId  raceId  constructorId  points  position  wins
0                       1      18              1    14.0         1     1
1                       2      18              2     8.0         3     0
2                       3      18              3     9.0         2     0
3                       4      18              4     5.0         4     0
4                       5      18              5     2.0         5     0

PREPROCESSING - constructors.csv

In [87]:
df3 = pd.read_csv("constructors.csv")
df3.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [88]:
constructors_path = os.path.join(data_folder, "constructors.csv")
if os.path.exists(constructors_path):
    df3 = pd.read_csv(constructors_path)
    df3.head()
    print("constructors.csv loaded successfully.")
else:
    print("constructors.csv not found.")

constructors.csv loaded successfully.

In [89]:
# Check for null values
null_counts = df3.isnull().sum()
print("\nNull values in each column:")
print(null_counts)
print("Reading file from:", constructors_path)

Null values in each column:
constructorId     0
constructorRef    0
name              0
nationality       0
url               0
dtype: int64
Reading file from: c:\Users\Ritanya\Desktop\DPL_2025\constructors.csv

In [ ]:
df3.drop(columns = ['url'],inplace = True)
df3.head()
print('Dropped column url')

Dropped column url

In [102]:
# Standardize text columns (strip spaces, lowercase)
text_cols = ["constructorId","constructorRef","name","nationality"]

for col in text_cols:
    if col in df3.columns:
        df3[col] = df3[col].astype(str).str.strip().str.lower()

print("Text columns standardized.")

Text columns standardized.

In [103]:
cleaned_filepath = os.path.join(output_folder, "constructors__cleaned.csv")
df3.to_csv(cleaned_filepath, index=False)
print(f"Cleaned file saved: {cleaned_filepath}")
df3.head()

Cleaned file saved: c:\Users\Ritanya\Desktop\DPL_2025\cleaned_data\constructors__cleaned.csv

  constructorId constructorRef        name nationality
0             1        mclaren     mclaren     british
1             2     bmw_sauber  bmw sauber      german
2             3       williams    williams     british
3             4        renault     renault      french
4             5     toro_rosso  toro rosso     italian

PREPROCESSING - driver_standings.csv

In [104]:
df4 = pd.read_csv("driver_standings.csv")
df4.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [105]:
driver_standings_path = os.path.join(data_folder, "driver_standings.csv")
if os.path.exists(driver_standings_path):
    df4 = pd.read_csv(driver_standings_path)
    df4.head()
    print("driver_standings.csv loaded successfully.")
else:
    print("driver_standings.csv not found.")

driver_standings.csv loaded successfully.

In [106]:
# Check for null values
null_counts = df4.isnull().sum()
print("\nNull values in each column:")
print(null_counts)
print("Reading file from:", driver_standings_path)

Null values in each column:
driverStandingsId    0
raceId               0
driverId             0
points               0
position             0
positionText         0
wins                 0
dtype: int64
Reading file from: c:\Users\Ritanya\Desktop\DPL_2025\driver_standings.csv

In [107]:
df4.drop_duplicates(inplace=True)
print("Duplicates removed.")
df4.drop(columns = ['positionText'],inplace = True)
df4.head()

Duplicates removed.

   driverStandingsId  raceId  driverId  points  position  wins
0                  1      18         1    10.0         1     1
1                  2      18         2     8.0         2     0
2                  3      18         3     6.0         3     0
3                  4      18         4     5.0         4     0
4                  5      18         5     4.0         5     0

In [108]:
cleaned_filepath = os.path.join(output_folder, "driver_standings_cleaned.csv")
df4.to_csv(cleaned_filepath, index=False)
print(f"Cleaned file saved: {cleaned_filepath}")
df4.head()

Cleaned file saved: c:\Users\Ritanya\Desktop\DPL_2025\cleaned_data\driver_standings_cleaned.csv

   driverStandingsId  raceId  driverId  points  position  wins
0                  1      18         1    10.0         1     1
1                  2      18         2     8.0         2     0
2                  3      18         3     6.0         3     0
3                  4      18         4     5.0         4     0
4                  5      18         5     4.0         5     0

PREPROCESSING - drivers.csv

In [109]:
df5 = pd.read_csv("drivers.csv")
df5.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [110]:
drivers_path = os.path.join(data_folder, "drivers.csv")
if os.path.exists(drivers_path):
    df5 = pd.read_csv(drivers_path)
    df5.head()
    print("drivers.csv loaded successfully.")
else:
    print("drivers.csv not found.")

drivers.csv loaded successfully.

In [117]:
# Check if 'numbers' column exists
if "number" in df5.columns:
    count_nulls = (df5["number"] == "\\N").sum()
    print(f"Column 'number' has {count_nulls} occurrences of '\\N'.")

    # Replace '\N' with -1
    df5["number"] = df5["number"].replace("\\N", -1)

    print(" Null values replaced with -1 in 'number' column.")
else:
    print("Column 'number' not found in DataFrame.")

df5.head()

Column 'number' has 802 occurrences of '\N'.
 Null values replaced with -1 in 'number' column.

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,-1,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,-1,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [ ]:
# Check if 'code' column exists and replace '\N' with an empty string
if "code" in df5.columns:
    count_nulls_code = (df5["code"] == "\\N").sum()
    print(f"Column 'code' has {count_nulls_code} occurrences of '\\N'.")
    df5["code"] = df5["code"].replace("\\N", "")
    print("Null values replaced with an empty string in 'code' column.")
else:
    print("Column 'code' not found in DataFrame.")

df5.head()

Column 'code' has 757 occurrences of '\N'.
Null values replaced with an empty string in 'code' column.

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,-1,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,-1,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [119]:
df5.drop(columns = ['url'],inplace = True)
df5.head()
print('Dropped column url')

Dropped column url

In [120]:
# Standardize text columns (strip spaces, lowercase)
text_cols = ["driverRef","code","forename","surname", "nationality"]

for col in text_cols:
    if col in df5.columns:
        df5[col] = df5[col].astype(str).str.strip().str.lower()

print("Text columns standardized.")

Text columns standardized.

In [121]:
cleaned_filepath = os.path.join(output_folder, "drivers_cleaned.csv")
df5.to_csv(cleaned_filepath, index=False)
print(f"Cleaned file saved: {cleaned_filepath}")
df5.head()

Cleaned file saved: c:\Users\Ritanya\Desktop\DPL_2025\cleaned_data\drivers_cleaned.csv

,driverId,driverRef,number,code,forename,surname,dob,nationality
0,1,hamilton,44,ham,lewis,hamilton,1985-01-07,british
1,2,heidfeld,-1,hei,nick,heidfeld,1977-05-10,german
2,3,rosberg,6,ros,nico,rosberg,1985-06-27,german
3,4,alonso,14,alo,fernando,alonso,1981-07-29,spanish
4,5,kovalainen,-1,kov,heikki,kovalainen,1981-10-19,finnish